html,
body {
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

hr {
	border-top: 1rem solid black;
	border-radius: 5px;
}

input {
	background-color: rgb(0, 0, 0, 0);
}

img {
	transition: 0.7s ease-in-out filter;
}

img:hover {
	filter: blur(1px);
}

.indicator:hover {
	filter: none;
}

.album-horizons,
.album-leaf,
.album-city,
.album-gcn {
	filter: blur(10px);
	-webkit-filter: blur(10px);

	height: 100%;
	width: 100%;
	position: absolute;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.album-horizons {
	background-image: url(/albums/newhorizons.jpeg);
}
.album-leaf {
	background-image: url(/albums/newleaf.jpeg);
}
.album-city {
	background-image: url(/albums/cityfolk.jpeg);
}
.album-gcn {
	background-image: url(/albums/GCN.jpeg);
}

.menu-bg {
	background-color: rgb(223, 211, 209, 0.3);
}

.play-bg {
	transition: 0.7s ease-in-out filter;
	background-color: rgb(223, 211, 209, 0.6);
}

.play-bg:hover {
	filter: blur(1px);
	-webkit-filter: blur(1px);
}

.play-btn {
	top: 7.8rem;
	left: 16rem;
}

.tranform-origin {
	transform-origin: center center 1px;
}

.glass {
	background-color: rgb(223, 211, 209, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
}

.text-shadow {
	text-shadow: 1.25rem 1.25rem 3.75rem #000;
}

.drop-shadow {
	filter: drop-shadow(0.5rem 0.5rem 4.25rem #000);
}

.bg {
	height: 100%;
	width: 100%;
	position: absolute;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-color: #4158d0;
	background-image: linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	);
}
